@import "src/scss/variables";

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .draggable {
    padding: 16px;
    background-color: $color-background-dark;
    box-shadow: 0.00px 0.00px 30px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;

    &__domain span {
      color: $color-purple-primary;
    }

    a {
      color: $color-purple-primary;
    }
  }
}